	@charset "utf-8";
/* CSS Document */
/*  Aluna: Tamara da Silva Teixeira
	Disciplina: Construção de Página WEB
	Pólo: Saquarema */

/* Tags Principais */
body    { 
		background-color: #377254 ; 
		color:#FCD605 ; 
		font-size: 16px;
		font-family: Verdana, Liberation, sans-serif ;
		}

/* Tags Secundárias */
nav ul  {
		color:#F3EDA3 ;
		}
ol, ul	{
  		line-height:200%;
		}
a:link {color:#FFFF33 ; text-decoration:none }
a:visited {color: #F3EDA3 ; }
/* Outros Ajustes */
ol 		{
		list-style-type:decimal;
		}
ul		{
		list-style-type:circle;
		}
h1		{ font-size:16px;}
legend  {color:#FCD605 ;}
.wrapper {
	width: 800px;
	margin: 0 auto;
}
.product{ font-weight:bold;}
.headerHOME { height:115px; width:10px; float:left;}
.IdText { font-style: italic;
		   font-weight: bold;
		}
.imgCompras { margin: -35px 0px 0px 0px;
	   		  text-align: right;
		}
		
/* Classes de Estilo */
.ender 	{ /*Informações   de   localização*/
	    text-align:right;
		font-size:16px;
		line-height:150%;
		float:right;
		font-style:italic;
		}
.apres 	{
		text-align:center;
		}
.imgLogo{
		border-bottom:solid;
		border-bottom-width:3px;
		margin-bottom:6px;
		padding-bottom:15px;
		float:left;
		}
.tabInfo{
		border-collapse:collapse;
		margin-top:6px;
		background-color:#FFFFBB;
		color:#006600;
		font:Arial, Ubuntu;
		}
.tabInfo td, th {
		border:2px;
		border-color:#000000;
		border-style:solid;
		padding: 6px 12px 6px 12px;
		}
.linTH	{
		color:#FFFFFF;
		background-color:#0077BB;
		vertical-align:middle;
		text-align:center;
		font-weight:bold;
		}
.colTH	{
		color:#006600;
		background-color:#AACC55;
		text-align:left;
		font-weight:bold;
		}
.preço	{
		color:#CC0000;
		font-weight:bold;
		vertical-align:middle;
		}
.fsEsq	{
		float:left;
		display:inline;
		margin:0px;
		width:160px;
		}
.fsDir	{
		float:right;
		display:inline;
		margin:0px;
		width:220px;
		}
.botoes	{
		text-align:right;
		margin: 20px 10px 0px 10px;
		}
.formLinha {
		width:470px;
		margin-bottom:6px;		
		}
.formLinha2 {
		width:466px;
		margin-bottom:6px;		
		}
.colPri {
		float:left;
		display:block;
		width:90px;
		}
.elemDir {
		float:right;
		display:block;
		}
.inpGrande  { width:370px;	}
.inpMedio   { width:120px;	}
.numDD		{ width:30px;	}
.numQD		{ width:50px;	}
.fsEsqCompras { float: left;
				display: inline
			}
.fsDirCompras { float: right;
				display: inline;
			}
.linhacompras { width: 500px;
				margin-bottom: 6px;
			}
.colPriCompras { float: left;
				 display: block;
				 width: 86px;
				}
.inpEmail	{ width: 200px; }
	    
/* Tags de Estrutura */
header  {
	display: block;
	margin-bottom: 1px;
	overflow:auto;
		}
nav     { display:block; width: 20%; float: left;} 
section { display:block; width: 77%; float: right;} 
fieldset { margin:20px 10px 0px 10px; }
